body{
    background-color:#E8F4EE;   
}

.cloud{
  z-index: 1;
  position: absolute;
  margin-top: 1%;
  margin-left: -22%;
  transform: scale(0.5);
}

.cloud2{
  z-index: 1;
  position: absolute;
  margin-top: 78%;
  margin-left: 43%;
  transform: scale(0.9);
}

.cloud3{
  z-index: 1;
  position: absolute;
  margin-top: 195%;
  margin-left: -25%;
}

.page{
  z-index: 2;
  position: relative;
}

.skip{
    text-align: right;
}

.skipbutton{
    background-color: white;
    border: none;
    border-radius: 18px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 550;
    color: #403D46;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
    padding: 1% 4% 1% 4%;
    margin-top: 5%;
    margin-right: 5%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 65% auto auto auto;
}

.content h1{
  line-height: 1.2;
}

.bottom-bar{
    display: grid;
    justify-content: space-between;
    margin: 26% 7% auto 7%;
  }
  
  .prev{
    display: flex;
    flex-direction: column;   
    font-size: 13px;
    margin: auto;

  }

  .prev p{
    margin: auto;
   }

  .prevButton{
    background-color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    width: 51px;
    height: 51px;
    padding-bottom: 15px;
  }

::ng-deep .prevButton .mat-button-wrapper{
  padding: 13px 5px 0 0px !important;
  
}

  .next{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
  }

  .next p{
    margin: auto;
  }
  
  .nextButton{
    background-color: #66BA8B;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    width: 51px;
    height: 51px;
  }
  ::ng-deep .nextButton .mat-button-wrapper{
    padding: 13px 0 0 4px !important;
    
  }