<body>
    <div class="cloud">
        <img src="../../../../assets/onboarding/cloud2.png">
    </div>
    <div class="cloud2">
        <img src="../../../../assets/onboarding/cloud.png">
    </div>
    <div class="cloud3">
        <img src="../../../../assets/onboarding/cloud2.png">
    </div>
    <div class="page"> 
        <div class="skip">
            <button class="skipbutton" (click)="skip()">SKIP</button>
        </div>
        <div class="content">
            <h1>Houd elke dag <br>je mentale <br> gezondheid bij.</h1>
            <div class="square">
                <img src="../../../../assets/onboarding/square.png">
            </div>
        </div>
        <div class="bottom-bar">
            <div class="prev">
                <button mat-fab class="prevButton" (click)="prevpage()"><img src="../../../assets/icons/prev.png"></button> 
                <p>Vorige</p>
            </div>
            <div class="next">
                <button mat-fab class="nextButton" (click)="nextpage()"><img src="../../../assets/icons/next.png"></button> 
                <p>Volgende</p>
            </div>
        </div>
    </div>
</body>