.help{
    margin-top: 8%;
}

h3{
    margin: auto;
    text-align: center;
    font-size: 22px;
}

p{
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.selection {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 5% auto auto auto;
    border-radius: 8px;
    box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.20);
    padding-bottom: 10%;

}

.categorySelect{
    display: flex;
    margin: auto;
    margin-bottom: 2px;
    margin-top: 2px
    
}

.categoryWord{
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;}

.chipDiv{
  
    background-color: #F7F7F7;
    margin: auto;
    margin-top: 2px;
    border-radius: 10px;
    width: 90%;
    height: 150px
}

.other{
    background-color: #ffffff;
    width: 86%;
    border-radius: 8px;
    height: 125px;
    position: absolute;
    z-index: 200;
}

mat-card-actions{
    margin-left: 80%;
    margin-top: 10%;
}

.gifs{
    margin-top: 5%;
}

.bottom-bar{
    display: grid;
    justify-content: space-between;
    margin: 10% 10% auto 10%;
}

.prev{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.prevButton{
    background-color: #ffffff;
  
}

.next{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.nextButton{
    background-color: #67BCD9;
   
}