.selection {
    
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    border-radius: 8px;
}

.categorySelect{
    display: flex;
    margin: auto;
    
}

.categoryWord{
    margin: auto;
}

.chipDiv{
    background-color: #F7F7F7;
    margin: auto;
}