<app-header></app-header>
<div class="selection">
    <mat-card class="other" *ngIf="other" >
        <mat-card-title>Anders...</mat-card-title>
        <mat-card-content>
            <input placeholder="beschrijf hier je gevoel">   
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>OK</button>
        </mat-card-actions>    
    </mat-card>
    <div class="categorySelect">
        <button mat-icon-button (click)="onLeft()" >
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <p class="categoryWord">{{categoryWord}}</p>
        <button mat-icon-button (click)="onRight()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div class="chipDiv">
       
        <emotion-chips [choosenCategory]="categoryWord" (selectedEmotion)="showGifs($event)" [chosenEmotions]="chosenEmotions" (selectOther)="showOther($event)"></emotion-chips>
     
    </div>
  
    <div>
        <gif-grid [emotionName]="selectedEmotion" [emotionCategory]="categoryWord" (chosenEmotionsChanged)="updateChosenData($event)"></gif-grid>
    </div>
    


    <button *ngIf="selectionComplete">next</button>
</div>
