<app-header></app-header>
<div class="selection">
    <div class="categorySelect">
        <button mat-icon-button (click)="onLeft()" >
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <p class="categoryWord">{{categoryWord}}</p>
        <button mat-icon-button (click)="onRight()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
  
    <div class="chipDiv">
        <emotion-chips [choosenCategory]="categoryWord" (selectedEmotion)="showGifs($event)"></emotion-chips>
    </div>
    <div>
        {{selectedEmotion}}
        <gif-grid></gif-grid>
    </div>
</div>