    
    <div class="header">
        <img src="../../../../assets/onboarding/header.png">
        
    </div> 
    <div class="headercontent">
        <h1>Welkom bij <br> Health-Thing</h1>
        <p>
            <button (click)="nextpage()">START</button>
        </p>
        <p>
            Met het dagelijks invoeren <br> van jouw mentale <br>gezondheid!
        </p>
    </div>
    <div class="content">
        <div class="cloud">
            <img src="../../../../assets/onboarding/cloud.png">
        </div>
        <div class="logo">
            <img src="../../../../assets/onboarding/logo.png">
        </div>
        <div class="health">
            <img src="../../../../assets/onboarding/health.png">
        </div>
        <div class="plus">
            <img src="../../../../assets/onboarding/plus.png">
        </div>
    </div>
