<div class="background">
    <img src="../../../assets/header/{{headerbackground}}" alt="header">
</div>

<div class="content">
    <div class="left">
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav #drawer class="sidenav" fixedInViewport=true [mode]="'over'" [opened]="false">
                <!-- <mat-toolbar>Menu</mat-toolbar> -->
                <mat-nav-list>
                    <div class="menuTitle">
                        <p>MENU</p>
                        <img id="logo" src="../../../assets/Group 38.png" alt="menuButton">
                        <button class="closeButton" (click)="drawer.toggle()">

                            <mat-icon id="closeIcon">close</mat-icon>
                        </button>

                    </div>
                    <div class="link">
                        <a mat-list-item href="#">HOE VOEL JE JE?</a>
                        <mat-icon id="arrowRight">arrow_forward_ios
                        </mat-icon>


                    </div>
                    <div class="link">
                        <a mat-list-item href="#">INZICHTEN</a>
                        <mat-icon id="arrowRight">arrow_forward_ios
                        </mat-icon>


                    </div>
                    <div class="link">
                        <a mat-list-item href="#">DOELEN</a>
                        <mat-icon id="arrowRight">arrow_forward_ios
                        </mat-icon>
                    </div>
                    <div class="lastlink">
                        <a mat-list-item href="#">GEGEVENS</a>
                        <mat-icon id="arrowRight">arrow_forward_ios
                        </mat-icon>
                    </div>

                </mat-nav-list>
            </mat-sidenav>

        </mat-sidenav-container>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <img src="../../../assets/header/menuIcon.png" alt="menuButton">
        </button>

    </div>
    <div class="center" id="center">
        {{title}}
    </div>
    <div class="right">
        <img src="../../../assets/header/bellIcon.png" alt="menubutton">
    </div>
</div>