<div class="close">
    <button class="closeButton" (click)="close()"> 
        <mat-icon id="closeIcon">close</mat-icon>
    </button>
</div>

<mat-form-field 
        floatLabel='never'>
        <mat-label>ik voel me gelukkig omdat...</mat-label>
            <textarea  matInput  
            [(ngModel)]="description"
            placeholder="ik voel me gelukkig omdat..." 
            autocomplete="off"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="12"
            cdkAutosizeMaxRows="12"
            maxlength="{{charLimit}}"> 
            {{description}}</textarea>
            <div *ngIf="description.length" class="count-div">
               {{charLimit - description.length}}
            </div>
</mat-form-field>
<div class="ok">
    <button class="okButton" (click)="ok()">OK</button>
</div>