/* You can add global styles to this file, and also import other style files */
html, body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    color: #403D46
}
html{
    background-color: rgb(103, 188, 217, .2);
    background-image: url(./assets//header/headerbackground.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position-x: center;
    background-size: contain;

}
body{
    margin: 0;
    width: 100%;
}