<body>
    <div class="cloud">
        <img src="../../../../assets/onboarding/cloud2.png">
    </div>
    <div class="cloud2">
        <img src="../../../../assets/onboarding/cloud2.png">
    </div>
    <div class="cloud3">
        <img src="../../../../assets/onboarding/cloud2.png">
    </div>
    <div class="page">
        <div class="skip">
            <button class="skipbutton" (click)="skip()">SKIP</button>
        </div>
        <div class="content">
            <div class="pentagon">
            <img src="../../../../assets/onboarding/pentagon.png">
        </div>
            <h1>Stel doelen voor <br> jezelf</h1>
        </div>
        <div class="bottom-bar">
            <div class="prev">
                <button mat-fab class="prevButton" (click)="prevpage()"><img src="../../../assets/icons/prev.png"></button> 
                <p>Vorige</p>
            </div>
            <div class="next">
                <button mat-fab class="nextButton" (click)="nextpage()"><img src="../../../assets/icons/next.png"></button> 
                <p>Volgende</p>
            </div>
        </div>
    </div>
</body>