    <div class="page">
        <app-header></app-header>
        <div class='content'>
            <h3>HOE STERK ZIJN DEZE <br> GEVOELENS?</h3>
            <p>
                Geef dit aan met de schuifbalk!
            </p>
            <div class="card">
                <h3>Gevoel</h3>
                <div class="gif">

                </div>
                <div class="slider">

                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="prev">
                <button mat-fab class="prevButton"><img src="../../../assets/icons/prev.png"></button> Vorige
            </div>
            <div class="describe">
                <button mat-fab class="desButton"><img src="../../../assets/icons/editIcon.png"></button> Beschrijven
            </div>
            <div class="next">
                <button mat-fab class="nextButton"><img src="../../../assets/icons/next.png"></button> Volgende
            </div>
        </div>
    </div>
