body{
    background-color:#FDF4E3;
}

.page{
    z-index: 2;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20%;
}

.content h3{
    font-size: 22px;
    font-weight: bold;
    margin: auto;
}

.content p{
    font-size: 18px;
    font-weight: 500;
    margin: 5% auto auto auto;
}

.card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.20);
    margin: 2% auto auto auto;
}

.card h3{
    font-size: 18px;
    font-weight: 500;
}

.bottom-bar{
    display: grid;
    justify-content: space-between;
    margin: 75% 7% auto 7%;
  }
  
.prev{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
  
.prevButton{
    background-color: #ffffff;
  
}

.describe{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.desButton{
    background-color: #F8CB75;
   
}
  
.next{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.nextButton{
    background-color: #F8CB75;
   
}