.page{
    z-index: 2;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}

.content h3{
    font-size: 22px;
    font-weight: bold;
    margin: auto;
}

.carrousel{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    
}

#categoryArrow{
    font-size: 30px;
    float:right;

}
  
#leftBtn{
    margin-top: 20%;
    margin-left: -15%;
    background-color: #ffffff;
    width: 20px;
    height: 270px;
    border-radius: 0px 18px 18px 0px; /* top left, top right, bottom right, bottom left */
    padding-left: 0;
}
  
#rightBtn{
    margin-top: 20%;
    margin-right: -15%;
    background-color: #ffffff;
    width: 20px;
    height: 270px;
    border-radius: 18px 0px 0px 18px; /* top left, top right, bottom right, bottom left */
 }

.card{
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.20);
    margin: 2% auto auto auto;
    width: 100%;
    height: auto;
    padding: 5% 5% 5% 5%;
}

.card h3{
    font-size: 18px;
    font-weight: bold;
  
}

.gif img{
  width: 250px;
  height: 160px;
  border-radius: 15px;
  margin-top: 5%;
}

.describe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
  
.desButton{
    background-color: white;
    border-style: solid;
    border-color: #786238;
    text-align: center;
}

.bottom-bar{
    display: grid;
    justify-content: space-between;
    margin: 17% 7% auto 7%;
  }
  
.prev{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
  
.prevButton{
    background-color: #ffffff;
  
}
  
.next{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.nextButton{
    background-color: #F8CB75;
   
}




/* Slider */
.mat-slider {
    width: 250px;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
} 

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    background: linear-gradient(
    to bottom right, 
    transparent 49%,
    #F8CB75 51%
  );
} 
  
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-background,
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
    background: transparent;
}
  
/* ::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: red; 
} */
  
::ng-deep .mat-accent .mat-slider-thumb {
    height: 20px;   
    width: 20px;
    background-color: #F8CB75;
    border: solid 6px white;
    bottom: -15px;
    right: -20px; 
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1);
    transform: none;
}

::ng-deep .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color:  #F8CB75;
    border: solid 6px white;
  }
  
::ng-deep .mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb,
::ng-deep .mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb,
::ng-deep .mat-slider:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb {
    background-color:  #F8CB75 !important;
    border: solid 6px white !important;    
    transform: none !important;
  } 
  
::ng-deep .describe-panel {
      margin-top: 35% !important;
  }

::ng-deep .describe-panel .mat-dialog-container{
    border-radius: 18px;

}
