.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content p{
    line-height: 1.2;
}

.close{
    text-align: right;
}

.closeButton{
    background: none;
    border: none;
}

.closeButton:focus {
    outline:none;
    border: none;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #403D46;
    text-align: center;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

mat-checkbox{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin-left: 10px;
}


::ng-deep .mat-checkbox .mat-checkbox-frame {
    border: none;
    border-radius: 5px;
    background-color: #F5F5F5;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
    width: 21px;
    height: 21px;
}

::ng-deep .mat-checkbox .mat-checkbox-label{
    margin-top: 10px;
    margin-left: 5px;
    opacity: .5;

}

::ng-deep .mat-checkbox-checked .mat-checkbox-background{
    background-color: #F5F5F5 !important;
 
} 

::ng-deep mat-checkbox .mat-checkbox-checkmark-path {
    stroke: #66BA8B !important;
    transform: scale(1.3);
}

.ok{
    text-align: right;
    width: 100%;
}

.okButton{
    border-radius: 18px;
    background-color: #F8CB75;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
    padding: 1% 9% 1% 9%;
    margin-top: 5%;
    margin-right: 10px;
    width: 55%;
}

.okButton:focus {
    outline:none;
    border: none;
}

