body{
    background-color:#FDF4E3;
}

.cloud1{
  z-index: 1;
  position: absolute;
  margin-top: 10%;
  margin-left: 30%;
  transform: scale(0.5);
}

.cloud2{
  z-index: 1;
  position: absolute;
  margin-top: 120%;
  margin-left: -20%;
}

.cloud3{
  z-index: 1;
  position: absolute;
  margin-top: 160%;
  margin-left: 50%;
  transform: scale(0.5);
}

.page{
  z-index: 2;
  position: relative;
}

.skip{
    display: flex;
    justify-content: space-between;
}

.circle{
    margin-left: 10%;
}

.button{
    margin-top: 5%;
    margin-right: 10%;
    width: auto;
}

.skipbutton{
    background-color: white;
    border: none;
    border-radius: 18px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 550;
    color: #403D46;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20); 
    margin: auto;
    width: 135%;
    height: 21%;
}

.content{
    text-align: center;
    margin: 40% auto auto auto;

}

.bottom-bar{
    display: grid;
    justify-content: space-between;
    margin: 75% 7% auto 7%;
  }
  
  .prev{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .prevButton{
    background-color: #ffffff;
  
  }
  
  .next{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nextButton{
    background-color: #F8CB75;
   
  }