<body>
    <div class="skip">
        <button class="skipbutton">SKIP</button>
    </div>
    <div class="content">
        <img src="../../../../assets/onboarding/circle.png">
        <h1>Bekijk je positieve <br> highlights!</h1>
    </div>
    <div class="bottom-bar">
        <div class="prev">
            <button mat-fab class="prevButton"><img src="../../../assets/icons/prev.png"></button> Vorige
        </div>
        <div class="next">
            <button mat-fab class="nextButton"><img src="../../../assets/icons/next.png"></button> Volgende
        </div>
    </div>
</body>