<body>
    <div class="skip">
        <div class="circle">
            <img src="../../../../assets/onboarding/circle.png">
        </div>
        <div class="button">
            <button class="skipbutton">SKIP</button>
        </div>
    </div>
    <div class="content">
        <h1>Bekijk je positieve <br> highlights!</h1>
    </div>
    <div class="bottom-bar">
        <div class="prev">
            <button mat-fab class="prevButton" (click)="prevpage()"><img src="../../../assets/icons/prev.png"></button> Vorige
        </div>
        <div class="next">
            <button mat-fab class="nextButton" (click)="nextpage()"><img src="../../../assets/icons/next.png"></button> Volgende
        </div>
    </div>
</body>