<body>
    <div class="cloud">
        <img src="../../../../assets/onboarding/cloud2.png">
    </div>
    <div class="cloud2">
        <img src="../../../../assets/onboarding/cloud2.png">
    </div>
    <div class="cloud3">
        <img src="../../../../assets/onboarding/cloud2.png">
    </div>
    <div class="page">
        <div class="skip">
            <button class="skipbutton" (click)="skip()">SKIP</button>
        </div>
        <div class="content">
            <h1>Jouw gegevens zijn <br> privé</h1>
            <button mat-fab class="info" (click)="showInfo()">i</button>
            <p>Meer informatie</p>
        </div>
        <div class="bottom-bar">
            <div class="prev">
                <button mat-fab class="prevButton"(click)="prevpage()"><img src="../../../assets/icons/prev.png"></button> Vorige
            </div>
            <div class="next">
                <button mat-fab class="nextButton" (click)="nextpage()"><img src="../../../assets/icons/next.png"></button> Volgende
            </div>
        </div>
    </div>
</body>